*{
	margin: 0;
	padding: 0;
}


body {
				background-image: url("img/p3.png");
				background-size: cover;
				background-repeat: no-repeat;
				background-attachment: fixed;
			}
			
			.chadongtupian{
				display: block;
				margin: 10px auto;
				box-shadow: black ;
				border-radius: 150px;
			}
			.neirong{
				opacity: 0.75;
				text-shadow: 0.3px 0.3px black;
				font-size: 20px;
				letter-spacing: 6px;
				width: 80%;
				background-color: burlywood;
				margin-left: 10%;
				border-radius: 10px;
			}
			#p2 {
				border-radius: 2500px;
			}
			
				
			
			
			